body {
    background: url(../images/ios_table_bkg.png) repeat #c5ccd4;
    font-family: Helvetica, arial, sans-serif;
}

.congrats {
    font-size: 16pt;
    padding: 6px;
    text-align: center;
}

.congrats2 {
    font-size: 14pt;
    padding: 6px;
    text-align: center;
}

.congrats3 {
    font-size: 14pt;
    font-style: italic;
    padding: 10px;
    text-align: center;
}

.congrats4 {
    font-size: 14pt;
    font-weight: bolder;
    padding: 6px;
    text-align: center;
    color: red;
}

.step {
    background: white;
    border: 1px #ccc solid;
    border-radius: 14px;
    padding: 4px 10px;
    margin: 10px 0;
}

.instructions {
    font-size: 10pt;
    overflow: hidden;
}

.arrow {
    font-size: 15pt;
}

table {
    width: 100%;
}
